body {
  font-family: "Inter", sans-serif;
  line-height: 1.4;
}

h1 {
  font-weight: 600;
  margin-top: 0;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
}

p {
  max-width: 420px;
}

a {
  color: #333;
}

/* Light Mode Button Styles
--------------------------- */

.light-mode-button {
  background: 0;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  height: 30px;
  width: 100px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0);
  margin-top: 20px;
}

.light-mode-button:focus {
  outline: none; /* Not ideal for accessibility */
}

.light-mode-button span:nth-child(1) {
  text-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  height: 25px;
  border-radius: 20px;
  background-color: #d6d7db;
  box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
  transition: 0.3s;
}

.light-mode-button span:nth-child(2) {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
  transition: 0.3s;
}

/* Light & Dark Mode Styles
  --------------------------- */

body {
  background-color: #f6f6f6;
  transition: background-color 0.3s;
}

body[light-mode="dark"] {
  background-color: #141516ee;
  color: #ced4e2;
}

body[light-mode="dark"] .light-mode-button span:nth-child(1) {
  background-color: #ced4e2;
  color: #141516;
}

body[light-mode="dark"] .light-mode-button span:nth-child(2) {
  left: 65px;
  background-color: #141516;
}

body[light-mode="dark"] a {
  color: #141516;
}


#all {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: monospace;
  font-size: 18px;
}

#info {
  position: relative;
  width: 400px;
}

#info > div {
  color: #0077ff;
}

#info > #left {
  display: inline-block;
  position: absolute;
  bottom: 0;
}

#info > #right {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
}

#restart,
#pause,
#instructions {
  display: block;
  width: 100%;
  text-align: end;
  background: none;
  color: inherit;
  font: inherit;
  border: transparent;
  outline: transparent;
  padding: 0;
  cursor: pointer;
}

#restart:hover,
#pause:hover,
#instructions:hover {
  text-decoration: underline;
}

.disabled {
  cursor: auto !important;
  color: lightGrey !important;
}

.disabled:hover {
  text-decoration: none !important;
}

#main {
  position: relative;
  width: 400px;
  height: 400px;
  outline: 1px solid black;
}

.snake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: green;
}

#head {
  background: rgb(6, 89, 6);
}

#food {
  position: absolute;
  width: 10px;
  height: 10px;
  background: darkred;
}

#instruction-text {
  position: fixed;
  display: none;
  width: 400px;
  text-align: center;
}

#game-over {
  position: fixed;
  display: none;
  color: black;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(150, 200, 0, 0.1);
  text-align: center;
  font-size: 30px;
}

/*slider */

.range_wrapper {
  display: flex; 
  justify-content: center;
  align-items: center;
  color: #0077ff;
  padding: 1px 15px;
  border-radius: 10px;
  box-shadow: 0px 7px 17px -4px rgba(0,0,0,0.23);
}

input[type=range] {
  height: 1px;
  -webkit-appearance: none;
  margin: 10px 0; 
  width: 200px;
  max-width: 95%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #000000;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #aaaaaa;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #000000;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #000000;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #000000;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #000000;
}

.valBox {
  width: 30px;
  margin-left: 15px;
  text-align: center;
  font-weight: bold;
}
